/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 11px;
}


/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

.head-container .categorie,
.head-container .logo,
.head-container .icons-menu {
    vertical-align: middle;
}

.categorie,
.icons-menu,
.footer-icons {
    display: flex;
    align-items: center;
}

.categorie ul,
.icons-menu ul,
.foot-container .col-a ul,
.footer-icons ul {
    display: flex;
    gap: 8px;
}

.head-container,
.main-container,
.foot-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-container .item .labels .discount,
.main-container .item .labels .eco {
    padding: 3px 7px;
}


/* #endregion COMMON*/

/* #region HEADER*/

header {
    background-color: #FF6900;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7);
}

.head-container {
    color: white;
    text-align: center;
    align-items: center;
    padding: 12px 0;
}

.head-container ul li a {
    color: white;
}

.head-container .logo img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 70%;
}

.categorie,
.icons-menu {
    width: 15%;
}

.icons-menu {
    justify-content: flex-end;
}

/* #endregion HEADER*/

/* #region MAIN*/

main {
    margin-top: 80px;
    margin-bottom: 80px;
}

.main-container {
    flex-wrap: wrap;
    gap: 30px 16px;

}

.main-container .item {
    width: calc((100% - 32px) / 3);
}

.main-container .item {
    position: relative;
}

.main-container .item .heart i {
    position: absolute;
    right: 0;
    top: 8px;
    color: black;
    background-color: white;
    padding: 10px;
}

.main-container .item .heart i:hover {
    color: red;
    cursor: pointer;
}

.main-container .item .labels {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 10px;
    bottom: 30px;
    left: 0;
    width: 100%;
}

.main-container .item .labels .discount {
    background-color: red;
    display: inline-block;

}

.main-container .item .labels .eco {
    background-color: #008000;
    display: inline-block;
}

.main-container .item .pics {
    position: relative;
}

.main-container .item .pics img {
    width: 100%;
    display: block;
}

.main-container .item .pics .hidden-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.main-container .item .pics .img:hover .hidden-img {
    opacity: 1;
    transition: opacity 0.5s;
}

.main-container .item .info {
    margin-top: 6px;
}

.info .brand,
.info .price,
.info .discounted-price {
    font-size: 12px;
}

.info .item-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.info .price {
    color: red;
    font-weight: bold;
}

.info .discounted-price {
    text-decoration: line-through;
}

/* #endregion MAIN*/

/* #region FOOTER*/

footer {
    background-color: #1A1A1A;
}

.foot-container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
    align-items: center;
}

.business-name {
    font-size: 14px;
    padding-bottom: 4px;
}

.business-info {
    padding-top: 5px;
}

.call-to-action {
    font-weight: bold;
    font-size: 10px;
}

.footer-icons {
    padding-top: 4px;
}

.footer-icons ul {
    padding-top: 4px;
}

.footer-icons li a i {
    font-size: 14px;
}

/* #endregion FOOTER*/